a {
    text-decoration: none;
    color: #FFFFFF !important;
}

.uzp__container {
    margin-top: 100px;
}

@media (min-width: 1904px) {
    .uzp__container {
        max-width: 1185px !important;
    }
}

.uzp__headline {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 3.75em;
}

.uzp__subhead {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
}